@font-face {
    font-family: "Chewy";
    src: url("/assets/fonts/chewy_font.woff") format('woff');
}
body {
    font-family: 'Chewy', cursive;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
canvas
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.scene{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    display: none;
    background: transparent;
}

#loading{
    padding-top: 30px;
}
#welcome{

}
#matchmaker{

}
#game{
    z-index: -1;
}
#pause{

}